body{
    background-color: rgb(178, 202, 223);
}
.common{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.list{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif ;
    color: rgb(57, 66, 75);
}
.subtitle{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: grey;
}
.Table{
    
}